<div class="container">

<div class="row">
  <div class="col-sm-12">
    <center>
    <img src="images/admin1.png" alt="" height="100" width="100"/>
    </center>

  </div>
</div>
  <div class="row">
    <br><br>
<div class="col-sm-4">
    <!--<img src="images/add_movie.png" alt="" height="300" width="350" style="border-radius:70px"/>-->
    <button type="button" class="btn btn-sq-lg btn-success" ng-click="addMovie()"><i class="material-icons" style="font-size:70px">local_movies</i><br/>
                            Add Movie               <br>&  <br>Remove Movie <br><br>

    <!--<a href="#" class="btn btn-sq-lg btn-success" ng-click="addMovie()">
              <i class="fa fa-user fa-5x"></i><br/>
              Add & Remove Movie <br>Button
            </a>
    -->
</div>

<div class="col-sm-4">
    <!--<img src="images/theater.png" alt="" height="300" width="350" style="border-radius:80px"/>-->
<button type="button" class="btn btn-sq-lg btn-info" ng-click="addTheater()"><i class="fa fa-user fa-5x"></i><br/>
               Add Theater              
<br/>&<br/>Remove Theater<br/><br/>
</button>

</div>
<div class="col-sm-4">
<!--<img src="images/theaterAdd.png" alt="" height="300" width="350" style="border-radius:20px"/>-->
<button type="button" class="btn btn-sq-lg btn-warning" ng-click="mapThaterMovie()">
  <i class="material-icons" style="font-size:70px">movie_filter</i><br/>Mapping Movie With Theater <br/> & <br/> Remove Movie From Theater<br/><br/></button>
</div>


  </div>
</div>
